*.lock
.idea
.rvmrc
*~
erl_crash.dump
trace_*.txt
/BDD/*.beam
/BDD/default.config
/BDD/dev.config
/BDD/.*.erl.swp
*.dia.autosave
/rails/log/test.*
/rails/db/migrate/20131218165924_create_delayed_jobs.rb
/rails/script/delayed_job